<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect www HTTP to non-www HTTPS -->
        <rule name="Redirect www HTTP to non-www HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.vintagerevelations\.co\.uk$" />
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://vintagerevelations.co.uk/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Redirect www HTTPS to non-www HTTPS -->
        <rule name="Redirect www HTTPS to non-www HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.vintagerevelations\.co\.uk$" />
            <add input="{HTTPS}" pattern="on" />
          </conditions>
          <action type="Redirect" url="https://vintagerevelations.co.uk/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Redirect non-www HTTP to non-www HTTPS -->
        <rule name="Redirect non-www HTTP to non-www HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^vintagerevelations\.co\.uk$" />
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://vintagerevelations.co.uk/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>