<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect non-www HTTPS -->
        <rule name="Redirect non-www HTTPS to www" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^vintagerevelations\.co\.uk$" />
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://www.vintagerevelations.co.uk/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Redirect HTTP (www and non-www) to HTTPS www -->
        <rule name="Redirect HTTP to HTTPS WWW" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://www.vintagerevelations.co.uk/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>